<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   <link rel="stylesheet" href="css/reveal.min.css">
	<link rel="stylesheet" href="css/theme/default.css" id="theme">
	<link rel="stylesheet" href="css/mytheme.css">

    <!-- For syntax highlighting -->
	<link rel="stylesheet" href="/css/zenburn.css">
  </head>
  <body>

    <div class="reveal center">
      <div class="slides">
        <% include slide1 %>
        <% include slide2 %>
        <% include slide3 %>
        <% include slide4 %>
        <% include slide5 %>
        <% include slide6 %>
        <% include slide7 %>
        <% include slide8 %>
        <% include slide9 %>
        <% include slide10 %>
        <% include slide11 %>
        <% include slide11a %>
        <% include slide12 %>
        <% include slide13 %>
        <% include slide14 %>
        <% include slide15 %>
        <% include slide16 %>
        <% include slide17 %>
        <% include slide18 %>
        <% include slide19 %>
        <% include slide20 %>
        <% include slide20a %>
        <% include slide21 %>
        <% include slide23 %>
        <% include slide24 %>
        <% include slide25 %>
        <% include slide26 %>
        <% include slide27 %>
        <% include slide28 %>
        <% include slide29 %>
        <% include slide30 %>
        <% include slide31 %>
        <% include slide32 %>
        <% include slide33 %>
        <% include slide34 %>
        <% include slide35 %>
        <% include slide36 %>
        <% include slide36a %>
        <% include slide37 %>
        <% include slide38 %>
        <% include slide39 %>
        <% include slide40 %>
        <% include slide41 %>
        <% include slide42 %>
        <% include slide43 %>
        <% include slide44 %>
        <% include slide45 %>
      </div>
    </div>

    <script src="/js/reveal.js"></script>
    <script src="/js/plugins/highlight.js"></script>
    <script src="/js/plugins/notes/notes.js"></script>
    <script>
      Reveal.initialize({
        center: true,
        transition: 'linear'
      });
       hljs.tabReplace = '<span class="indent">\t</span>';
      hljs.initHighlightingOnLoad();
    </script>
  </body>
</html>
