<section>
<h1> BDD </h1>
<aside class="notes">
	Also associated with integration testing. Cucumber, Gherkin
	Behavior Driven Development
	<li>
	Full intergeration testing typical powered by a seliumn web driver</li>
	<li>Testing your application from a high-level user perspertive</li>

</aside>
</section>