<section>
<img src="/images/js-logo.jpg">

<aside class="notes">
	So today is about JavaScript, and I’m not gonna convince you about how great JS is, I mean your already here at a JavaScript conference, how much you’ll end up using it & falling in love with it.
	Today (pause) we’ll focus on three areas of JS testing
</aside>
</section>