<section class="specs">
  <section class="s6a">
    <h2> Specs</h2>
    <p>
      They are the it() blocks inside of a suite. They describe what one small piece of the componment should do.
    </p>

<pre>
<code data-trim class="javascript">
describe('jqCon.sanDiegoDay2', function() {
  describe("exucting the function", function() {
    it("should return some text", function() {
    });
  });
});
  </code>
</pre>

<aside class="notes">You can have any number of specs you want for each suite. </aside>

  </section>
</section>