<section>
<img src="/images/manhattan-js-logo.png">

<aside class="notes">
	I’m one of the co-organizer’s of the Manhattan.js, a meetup clearly in NY, if your're ever in NYC checkout our twitter account or our site manhattanjs.com and attend a event.


	Gathering the community to come out and hear techincal & non-techincal talks from people in the community.
</aside>
</section>