<section>
	<h1>Local Development</h1>
	<aside class="notes"> 
	<li> Whether you development mainly on your laptop or an external moniter, its good to split your text editor screen between the test and the acutal code, which go from red, green, factor</li>
	</aside>
</section>
