<section>
<img src="/images/no-tests.png">
<aside class="notes">
	this usually results in this situation in the middle of the night.

	if you're building or working on an existing app for a company or a client that's a serious adnreline rush as this can you be late at night or all day inst
</aside>
</section>