<section>
 <h2> Code Organization</h2>

<aside class="notes">
	When taking the less tangible approach to code you want to break it up a few different areas of responsibility:  
	<li>1) Presentation & interaction  </li>
	<li>2) Data management & persistence  </li>
	<li>3) Overall application state </li>
	<li>4) Setup & glue code to make  the pieces work together </li>
</aside>
</section>