<section id="slide21"> 
<pre>
<code data-trim>
var jqCon =  {
	sanDiegoDay1: function() {
		return "We had an awesome time!";
	}
    sanDiegoDay2: function() {
	   return "We heart JavaScript!";
    },
    entireConference: function() {
    	this.sanDiegoDay1();
    	this.sanDiegoDay2();
    }
};
jqCon.sanDiegoDay2();
</code>
</pre>

	<aside class="notes">
		
	</aside>
</section>

