<section>
<img src="/images/baby.png">
<aside class="notes">
	You want to feel like this kid about your application, confident enough that if I write a new feature I'm not breaking anything Kelly or Zack did 2 or 8 months.
</aside>
</section>