<section id="slide8"> <!-- Slide 8 -->
	<h1>The Importance of Testing</h1>
	<aside class="notes">
		Testing is important for several reasons:
		<li>You're opening sourcing a project</li>
		<li>You're working with a team of developers</li>
		<li>You might not be stay aboard for the entire lifecycle for the project if its a company for example</li>
		<li>New Developers to a code base can get get up stay quicker especially if the application is large enough that there's resuable modules for moving & repetitive  parts </li>
	</aside>
</section>
