<section>
    <h2>Suites: "describe" Your Tests </h2>
    <pre>
    <code data-trim class="javascript">
    describe('jqCon.sanDiegoDay2', function() {
        it("state the action that will occur", function() {

        });
    });
    </code>
    </pre>

    <aside class="notes">
        Suites basically describe scenarios. These how tests begin with
        a call to global Jasmine function 'describe' with two parameters.
        The first portion is a string  which names are based on a componment in the app,
        usally based on a class or function name. The second parameter is a function that implements the suite.

        Suites are used to organize test specs and can contain other suites.
    </aside>
  </section>