<section>
 <h2> Object literals</h2>

<aside class="notes">
	In Javascript you can make use of object literals to have properties on an object.
	Make code cleaner, it organizes your code, you'll avoid polluting the global namespace.
</aside>
</section>