<section>
 <h2> What Is Jasmine?</h2>

<aside class="notes">
	 Jasmine is a behavior-driven development (BDD) framework for testing JavaScript code. It does not 	 depend on any other JS frameworks.
  It does not require a DOM, and it has a clean obvious syntax that you can easily write tests.
</aside>
</section>