<section> <!-- Slide 2 -->
	<h1>Rushaine McBean</h1> 
	<h2 class="twitter-handle"> @copasetickid </h2>

	<aside class="notes">
		Introduce myself, mention twitter handle, that I’m JS & Ruby developer.
	</aside>
</section>