<section> <!-- Slide 1 -->
	<h1>JavaScript Testing</h1>
	<h1>For All</h1>

	<aside class="notes">
		Welcome to day #2 of jquery San Diego, this talk is JavaScript Testing For All, the "for All" part of this talk is attract to listen to testing talk despite your level knowledge of testing because you never know what you might take away from a testing talk.
	</aside>
</section>
