<section>
	<h1>(Loose) Laws of Testing</h1>

	 <aside class="notes">
	 You'll refine your workflow in time but you want to keep 3 rules in mind when your testing.

	 <li>Avoid writing production code until you’ve written a failing test.</li>
<li>Avoid writing more than one failing unit test.</li>
<li>Avoid writing more production code that is sufficient enough to pass the failing test. </li>

  </aside>
</section>
