<section>
 <h2> Similar in Nature</h2>

<aside class="notes">
	   Jasmine will look familiar to RSpec, it works in a similar way with using
     "describe" and "it" calls for organizing tests. It takes alot of cues from RSpec.
</aside>
</section>