<section id="slide17"> 
	<h1>What if I don’t know how to test the feature?</h1>
	<aside class="notes">
		Translation, you want or need to writing testable code but what does that look like. Typically beginners to JS write their apps in a traditional procedural style.  
	</aside>
</section>
