<section id="slide16"> 
	<h1>Yes!, It can be hard.</h1>
	<aside class="notes">
		<li>But there’s typically a lot of logic going on that you might not remember if you have ever come back to working on that</li>
		<li></li>
	</aside>
</section>
